@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 228, 220);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
}

.container-title {
  font-weight: 500;
  font-size: 26px;
}

select {
  display: block;
  margin-bottom: 10px;
  background-color: #52146b;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 15px;
}

input {
  background-color: #52146b;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 15px;
}

input::placeholder {
  color: #fff;
}

input:focus {
  outline: none;
}

span:nth-child(1) {
  font-weight: 500;
  font-size: 24px;
  color: #000;
  margin-right: 10px;
}

span:nth-child(2) {
  font-weight: 600;
  font-size: 24px;
  color: #52146b;
}
